# Laravel ignores
/vendor
/node_modules
/public/storage
/public/hot
/public/mix-manifest.json
/storage/*.key
.env
.env.backup
.pytest_cache/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# IDEs
.idea
.vscode
*.sublime-workspace
